* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../images/galaxy.jpg');
  width: 100vw;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100vh;
  width: 100vw;
}

.welcome h1 span {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  letter-spacing: 12px;
  color: white;
  font-weight: lighter;
  animation-name: move;
  animation-duration: 8s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translate(-80%,-50%);
}

.welcome h1 span:hover {
  animation-name: bounce;
}

@keyframes move {
  0%{
    transform: translateX(-600px);
  }
  100%{
    transform: translateX(1050px);
  }
}

@keyframes bounce {
  100%{
    transform: translateY(100px);
  }



.verb h1 span {
  font-size: 80px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter; 
  margin-left: 160px;
}

.verb h1 span:hover {
  font-size: 80px;
  letter-spacing: 110px;
  color: #00ad02;
  margin-left: 160px;
}
