* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.shape-one {
  border-radius: 40px;
  background: #f442d7;
  width: 50px;
  height: 50px; 
  margin-left: 40px;
  animation-name: drop;
  animation-duration: 2s;
  animation-direction: normal;
}

.shape-two {
  border-radius: 40px;
  background: #eef442;
  width: 50px;
  height: 50px;
  margin-left: 70px;
  animation-name: drops;
  animation-duration: 2s;
  animation-direction: normal;
}

.shape-three {
  border-radius: 40px;
  background: #02c2f7;
  width: 50px;
  height: 50px;
  margin-left: 120px;
  animation-name: drope;
  animation-duration: 2s;
  animation-direction: normal;
}

.shape-four {
  border-radius: 40px;
  background: #00ff7f;
  width: 50px;
  height: 50px;
  margin-left: 130px;
  animation-name: dropo;
  animation-duration: 2s;
  animation-direction: normal;
}

.shape-interaction {
  transform: scale(5);
}

@keyframes drop {
  0% {
    transform: translateY(-1400px);
  }
  20% {
    transform: translateY(650px);
  }
  50% {
    transform: translate(100px,400px);
  }
  70%{
    transform: translate(300px, 650px);
  }
  85% {
    transform: translate(500px,400px);
  }
  100%{
    transform: translate(1800px, 650px);
  }
}

@keyframes drops {
  0% {
    transform: translateY(-1700px);
  }
  20% {
    transform: translateY(600px);
  }
  40% {
    transform: translate(400px,200px);
  }
  60% {
    transform: translate(500px,600px);
  }
  70% {
    transform: translate(1000px, 100px);
  }
  80% {
    transform: translate(1100px, 100px);
  }
  100% {
    transform: translate(1400px, 600px);
  }
}

@keyframes drope {
  0% {
    transform: translateY(-1000px);
  }
  40% {
    transform: translateY(550px);
  }
  50% {
    transform: translate(200px,200px);
  }
  60% {
    transform: translate(250px,550px);
  }
  75% {
    transform: translate(400px, 100px);
  }
  85% {
    transform: translate(700px, 5500px);
  }
  100% {
    transform: translate(2000px, 600px);
  }
}

@keyframes dropo {
  0% {
    transform: translateY(-2000px);
  }
  10% {
    transform: translateY(500px);
  }
  50% {
    transform: translate(200px,200px);
  }
  60% {
    transform: translate(600px,550px);
  }
  75% {
    transform: translate(700px, -100px);
  }
  85% {
    transform: translate(900px, 500px);
  }
  100% {
    transform: translate(1400px, -400px);
  }
}


